<table class="table">
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th>Phone</th>
  </tr>
 
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name  %></td>
      <td><%= mail_to contact.email, contact.email %></td>
      <td><%= contact.phone %></td>
    </tr>
  <% end %>
</table>
