.pagination {
  padding: 0.2em;
  text-align: right;
  background-color: #c8d6f2;

  span.disabled {
    opacity: 0.6;
  }

  a,
  em, 
  span,
  a:hover {
    display: inline-block;
    padding: 5px;
    color: black;
    text-align: center;
    border-radius: 2px;
  }

  a,
  a:hover {
    cursor: pointer;
  }

  .current,
  .current:hover {
    color: white;
    background: #4a76cd;
  }
}
